.form-change-pass {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.form-change-pass div {
  margin-bottom: 10px;
}

.form-change-pass button {
  width: 150px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}
