.popu-container {
  margin: 20px;
}
.popu-container h1 {
  margin: 0;
}

.popu-container .search-bar {
  margin: 50px 0 0 20px;
}

.select-mode-container {
  display: flex;
}

.select-box {
  margin-left: 30px;
}

.select-mode-option {
  width: 200px;
  margin: 30px;
}

.location-options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.add-icon {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.438);
  border-radius: 3px;
  margin-left: 35px;
}
.add-icon:hover {
  cursor: pointer;
  border-color: black;
}
.popu-container button {
  margin-left: 30px;
}

.remove-select-icon {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.438);
  border-radius: 3px;
  padding: 5px;
  right: -6px;
}
.remove-select-icon:hover {
  cursor: pointer;
  border-color: black;
}

.popu-table {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
}

.btnEditPopu {
  margin: 0;
  text-decoration: none;
}

.circular-progress {
  width: 200px;
  margin: auto;
  margin-top: 150px;
}

/* -------------------- */

.select-mode-option-many {
  margin: 30px;
  min-width: 200px;
  max-width: 700px;
}

@media screen and (max-width: 1050px) {
  .popu-table {
    width: 97%;
  }
}

@media screen and (max-width: 700px) {
  .select-mode-container {
    display: block;
  }
}

@media screen and (max-width: 330px) {
  .popu-container {
    margin-left: 10px;
  }
}
