.wrapper-profile {
  margin: auto;
  margin-top: 40px;
  width: 1000px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.wrapper-profile .left {
  width: 20%;
  background: linear-gradient(
    90deg,
    rgba(70, 75, 167, 1) 12%,
    rgba(61, 91, 154, 1) 62%,
    rgba(47, 48, 93, 1) 100%
  );
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper-profile .left h4 {
  margin-top: 20px;
}

.wrapper-profile .left p {
  font-size: 12px;
}

.wrapper-profile .right {
  width: 80%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper-profile .right .info,
.wrapper-profile .right .authorization {
  margin-bottom: 25px;
}

.wrapper-profile .right .info h2,
.wrapper-profile .right .authorization h2 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper-profile .right .info-data,
.wrapper-profile .right .authorization-data {
  padding: 5px 0;
}

.wrapper-profile .right .info-data .data,
.wrapper-profile .right .authorization-data .data {
  display: flex;

  padding: 10px 0;
}

.wrapper-profile .right .info-data .data h4,
.wrapper-profile .right .authorization-data .data h4 {
  color: #353c4e;
  margin-right: 20px;
  width: 220px;
}

.wrapper-profile .right .info-data .data span,
.wrapper-profile .right .authorization-data .data span {
  font-size: 16px;
  color: rgb(7, 33, 179);
}

@media screen and (max-width: 1100px) {
  .wrapper-profile {
    width: 95%;
  }
}

@media screen and (max-width: 520px) {
  .wrapper-profile .right .info-data .data h4,
  .wrapper-profile .right .authorization-data .data h4 {
    margin-right: 20px;
    width: auto;
  }
  .info-data data,
  .authorization-data .data {
    flex-direction: column;
  }
}
