.wrapper {
  width: 70%;
  background: #fff;
  padding: 30px 30px 70px 30px;
  margin: auto;
  margin-top: 30px;
  position: relative;
  padding-right: 0;
  position: relative;
  margin-bottom: 30px;
}

.wrapper .title {
  font-size: 28px;
  font-weight: 700;
  margin: 20px 0 50px 0;
  color: black;
  text-transform: uppercase;
}
.wrapper .edit-icon {
  margin-left: 40px;
  padding: 10px;
  border-radius: 5px;
  background-color: #d8cccc;
  position: absolute;
  top: 40px;
  right: 40px;
}

.wrapper .edit-icon:hover {
  cursor: pointer;
  background-color: #b8afaf;
}

.wrapper .avatar {
  position: absolute;
  top: 50px;
  right: 40px;
}

.wrapper .form {
  width: 90%;
  margin-left: 40px;
}

.wrapper .form .specific-info {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .specific-info .title-label {
  width: 150px;
  color: #757575;
  margin-right: 15px;
  font-size: 14px;
}

.text-field {
  width: 400px;
}

.containerBTN {
  position: absolute;
  right: 40px;
}

.containerBTN button {
  margin: 10px 10px 0 0;
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .wrapper .form {
    margin: 0;
  }

  .wrapper .avatar {
    position: static;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 420px) {
  .wrapper .edit-icon {
    position: static;
    margin-left: 80%;
  }
}
