.navbar {
  background-color: #060b26;
  /* background-color: rgb(25 118 210); */
  height: 80px;
  display: flex;
  /* justify-content: start; */
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #060b26;
  /* background-color: rgb(25 118 210); */
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 99;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  /* justify-content: start; */
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text .row-nav {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  cursor: pointer;
}

.nav-row .title-span {
  padding-left: 10px;
}

.nav-text .row-nav:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
  padding: 0 20px 0 30px;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  /* justify-content: start; */
  align-items: center;
}

/* -------  */

.topbarWrapper {
  height: 100%;
  display: flex;
  padding: 0px 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: whitesmoke;
}
.title-name {
  font-size: 15px;
  color: whitesmoke;
  margin-left: 30px;
  position: relative;
  top: 14px;
}

.topRight {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.icon {
  width: 30px;
  height: 30px;
  color: white;
  font-size: 30px !important;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin: 0 12px;
  color: black;
}

.topIconBadge {
  width: 18px;
  height: 18px;
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.wrap-notify {
  position: absolute;
  background-color: rgb(168, 127, 127);
  padding-left: 0;
  width: 360px;
  right: -50px;
  box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
  border-radius: 3px;
  transform-origin: calc(100% - 20px) top;
  color: #333;
  overflow: hidden;
  animation: headerNotifyGrowth ease 0.25s;
}

@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header-notify {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  background-color: #6e8299;
}

.header-notify::after {
  content: "";
  position: absolute;
  height: 30px;
  width: 1px;
  background-color: #ccc;
  top: 1px;
}

.header-notify span {
  margin: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 5px 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.header-notify span:hover {
  background-color: rgb(177, 153, 153);
}

.list-notify {
  max-height: 40vh;
  overflow: auto;
  list-style: none;
  background-color: #a2a8ad;
  padding: 0;
}

.item-notify {
  padding: 8px 28px;
}

.item-notify:hover {
  background-color: #ccc;
}

.noti-address {
  font-size: 12px;
}

.noti-content {
  text-align: left;
  font-size: 17px;
  font-weight: 600;
  margin: 0;
  width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.noti-date {
  font-size: 12px;
  text-align: right;
}

@media screen and (max-width: 510px) {
  /* .logo {
    display: none;
  } */
  .title-name {
    margin: 0;
    top: 55px;
    position: absolute;
    left: 70px;
  }
}
@media screen and (max-width: 350px) {
  .logo {
    display: none;
  }

  .wrap-notify {
    width: 100vw;
    right: -101px;
  }
}
